<h1 mat-dialog-title>{{ data.name }}</h1>
<div mat-dialog-content class="task-detail">
  <div>
    <label>Nombre Tarea: </label>
    <input [(ngModel)]="task.name" />
  </div>
  <div>
    <label>Estado: </label>
    <select matNativeControl [(ngModel)]="task.state">
      <option value="Pendiente">Pendiente</option>
      <option value="En Progreso">En Progreso</option>
      <option value="Completada">Completada</option>
    </select>
  </div>
  <div>
    <label>Tiempo estimado: </label>
    <input [(ngModel)]="task.estimatedTime" />
  </div>
  <div>
    <label>Descripcion: </label>
    <br />
    <textarea rows="5" cols="50" [(ngModel)]="task.description"> </textarea>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="task">Guardar Cambios</button>
  &nbsp;
  <button mat-button (click)="onExit()" cdkFocusInitial>
    Salir [Sin Guardar]
  </button>
</div>
